.about-us, .contacts-title {
  text-align: center;
  h1, h2 {
    text-align: center;
  }

  .xebia-team, .xebia-map {
    width: 100%;
    margin-bottom: 30px;
  }

  .xebia-map {
    margin-top: 40px;
  }
}

.contacts {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: @alternativeBackgroundColor;
  text-align: center;
  .contact {
    text-align: center;
    &:nth-child(2) img {
      margin-top: 30px;
    }

    .name, .role {
      display: block;
      margin-bottom: 10px;
    }

    .social {
      margin-top: 25px;
      margin-bottom: 35px;
      > a {
        background-color: @xebiaBackgroundTextColor;
        border-radius: 100%;
        @socialIconSize: 30px;
        height: @socialIconSize;
        width: @socialIconSize;
        line-height: @socialIconSize + 2px;
        display: inline-block;
        vertical-align: top;
        color: white;

        .mail-icon(white, 0.17);

        svg {
          margin-top: 5px;
        }
      }
    }
  }
}