
.clearFloat() {
  &:after {
    clear: both;
    content: '';
    display: block;
  }
}

.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow: @string;
  box-shadow: @string;
}

.centerBlock() {
  margin-left: auto;
  margin-right: auto;
}