.leftColumn() {
  display: inline-block;
  width: 48%;
  text-align: center;
  vertical-align: top;

  @media (max-width: @secondBreakPoint) {
    display: block;
    width: 100%;
  }
}

.join {
  padding-bottom: 50px;
  h1 {
    color: @contrastColor;

    text-align: center;
    .mainTitle();
    font-size: 52px;

  }

  .sheep-wrapper {
    .leftColumn();

    img {
      width: 430px;
      @media (max-width: 430px) {
        width: 100%;
      }
    }

  }

}

.apprenticeship {
  padding-bottom: 50px;
  background-color: @alternativeBackgroundColor;
  h2 {
    .mainTitle();
    padding-top: 30px;
    font-size: 52px;
    @media (max-width: @thirdBreakPoint) {
      font-size: 40px;
      margin-left:10px;
    }
  }

  .mail-wrapper {
    color: white;
    background-color: @xebiaColor;
    border-radius: 100%;
    @heightButton: 110px;
    width: @heightButton;
    height: @heightButton;
    line-height: @heightButton;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    svg {
      .transform(scale(0.5));

      path {
        stroke: white;
      }
    }

  }

  .contact-us {
    margin-top: 40px;
    .leftColumn();

    .label {
      display: block;
      color: @xebiaColor;
      text-transform: uppercase;
      font-size: 22px;
    }
  }
}

.description {
  display: inline-block;

  max-width: 41%;
  margin-right: 8%;
  p {
    font-size: 20px;
    text-align: justify;
    line-height: 26px;
    margin-bottom: 45px;
    @media (max-width: @firstBreakPoint) {
      margin-left:10px;
      margin-right:10px;
    }
  }

  @media (max-width: @secondBreakPoint) {
    display: block;
    max-width: none;
    margin-right: 0;
  }
}

.contact {
  border-top: 1px solid @contrastColor;
  text-align: right;

  svg {
    margin-top: 16px;
    margin-right: 5px;
    height: 23px;
    width: 23px;

    path {
      stroke: @contrastColor;
      .transform(scale(0.2));
    }
  }
  a {
    margin-top: 15px;
    display: inline-block;
    color: @contrastColor;
    vertical-align: top;
    font-size: 20px;
    font-weight: normal;

    &:after {
      content: ' > '
    }
  }
}