.jhelou {
    background: transparent url(/images/equipe/craftsmen/jhelou-big.png) no-repeat;
    background-position: center right;
    height: 600px;
}

.fdubois {
    background: transparent url(/images/equipe/direction/fdubois-big.png) no-repeat;
    background-position: right bottom;
    background-size: 50%;
    height: 600px;
}

.cleclerc {
    background: transparent url(/images/equipe/direction/cleclerc-big.png) no-repeat;
    background-position: left bottom;
    background-size: 70%;
    height: 600px;
}