/****************************************/
/*      CSS for the team page           */
/****************************************/

img#jhelou{
   margin-left: 100px;
}

img#jlmorlhon{
}

img#hgeissmann{
   margin-left: 200px;
}

img#gmantel{
   margin-left: 200px;
}

img#fdubois{
   margin-left: 150px;
}

img#scaplette{
   margin-left: 60px;
}

img#plopez{
   margin-left: 50px;
}

img#cleclerc{
   margin-left: 41px;
}