@xebiaColor: #6C1D5F;
@xebiaLightColor: #7B5A77;
@xebiaBackgroundTextColor: #4A4A4A;
@subTitle: #333333;
@subMainTitle: #444444;
@alternativeBackgroundColor: #F0F0F0;
@contrastColor: #00A396;
@colorIndicator: #CACACA;
@linkColor: #0062AD;

@firstBreakPoint: 1024px;
@secondBreakPoint: 820px;
@thirdBreakPoint: 400px;

@reductionFactor : 0.9;
@veryBigFontSize: 70px * @reductionFactor;
@bigFontSize: 52px * @reductionFactor;
@bigFontSizeResponsive: 40px * @reductionFactor;
@standardTextSize: 18px * @reductionFactor;
@defaultTitleSize: 35px * @reductionFactor;

.veryBigFontSize() {
  font-size: @veryBigFontSize;

  @media (max-width: @thirdBreakPoint) {
    font-size: @bigFontSize;
  }
}

.bigFontSize() {
  font-size: @bigFontSize;

  @media (max-width: @thirdBreakPoint) {
    font-size: @bigFontSizeResponsive;
  }
}