<footer>
    <section class="social">
        <a href="http://www.linkedin.com/company/xebia-france" class="socicon socicon-linkedin" target="_blank">
        </a>

        <a href="https://plus.google.com/100396468532572979348/posts" class="socicon socicon-google" target="_blank">
        </a>

        <a href="https://twitter.com/XebiaFr" class="socicon socicon-twitter" target="_blank">
        </a>
    </section>


    <section class="alliancy">
        <div class="tagline-xebia"></div>
        <div class="tagline-alliance">
            <div class="alliance-wrapper">
                <a href="http://alliance.xebia.fr" class="logo-alliance"><img
                        src="images/footer/footer-logo-alliance.png"
                        alt="Alliance Xebia"></a>

                <div><span class="unused">=</span>
                    <a href="http://www.xebia.fr/">Xebia</a>
                    <span class="unused">+</span>
                    <a href="http://xebialabs.com/">XebiaLabs</a>
                    <span class="unused">+</span>
                    <a href="http://www.thiga.fr/">Thiga</a>
                    <span class="unused">+</span>
                    <a href="http://www.ux-republic.com/">UX-Republic</a>
                </div>
            </div>

        </div>
    </section>

    <section class="address">
        <address>
            <div class="name">Xebia Studio</div>
            <div class="telephone">+33 (0)1 53 89 99 93 - <a href="mailto:studio@xebia.fr">studio@xebia.fr</a></div>
        </address>
    </section>

</footer>

@@include('templates/analytics.html')
