<footer>

    <section class="social">
        <a href="http://www.linkedin.com/company/xebia-france" class="socicon socicon-linkedin" target="_blank">
        </a>

        <a href="https://plus.google.com/100396468532572979348/posts" class="socicon socicon-google" target="_blank">
        </a>

        <a href="https://twitter.com/XebiaFr" class="socicon socicon-twitter" target="_blank">
        </a>
    </section>


    <div class="alliancy">
        <div class="tagline-xebia"></div>
        <div class="tagline-alliance">
            <div class="alliance-wrapper">
                <a href="http://alliance.xebia.fr" class="logo-alliance"><img
                        src="images/footer/footer-logo-alliance.png"
                        alt="Alliance Xebia"></a>

                <div><span class="unused">=</span>
                    <a href="http://www.xebia.fr/">Xebia</a>
                    <span class="unused">+</span>
                    <a href="http://xebialabs.com/">XebiaLabs</a>
                    <span class="unused">+</span>
                    <a href="http://www.thiga.fr/">Thiga</a>
                    <span class="unused">+</span>
                    <a href="http://www.ux-republic.com/">UX-Republic</a>
                    <span class="unused">+</span>
                    <a href="http://www.wescale.fr">WeScale</a>
                    <span class="unused">+</span>
                    <a href="http://www.cellenza.com/">Cellenza</a>
                    <span class="unused">+</span>
                    <a href="#">Akemis</a>
                </div>
            </div>

        </div>
    </div>

    <div class="address">
        <address>
            <div class="name">Xebia Studio</div>
            <div class="telephone">+33 (0)1 53 89 99 99 - <a href="mailto:info@xebia.fr">info@xebia.fr</a></div>
        </address>
        <a class="mentions-legales">Mentions légales</a>
    </div>

</footer>

<div id="mentions-legales-popup">
    <h2>Mentions Légales <button class="close">X</button></h2>

    <p>
        Conformément aux dispositions de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans
        l'économie numérique, nous vous informons que&nbsp;:<br />
        Le site internet <a href="http://studio.xebia.fr">studio.xebia.fr</a> est édité par&nbsp;:<br />
        Xebia IT Architects au capital de SAS euros.<br />
        Numéro TVA intracommunautaire&nbsp;: FR 90 479 994 147<br />
        Numéro SIRET&nbsp;: 479 994 147 000 11<br />
        Siège social&nbsp;: 10/12 avenue de l'Arche 92400 Courbevoie<br />
        Téléphone&nbsp;: 0153899999<br />
        Email&nbsp;: <a href="mailto:communication@xebia.fr">communication@xebia.fr</a><br />
        Le directeur de la publication du site web <a href="http://studio.xebia.fr">studio.xebia.fr</a> est Xebia IT
        Architect.<br />
        Le site <a href="http://studio.xebia.fr">studio.xebia.fr</a> est hébergé par Github, 4th Street, San Francisco, CA,
        United States, <a href="https://github.com/">https://github.com/</a>.<br />
        Ces mentions légales sont générées gratuitement par l'agence web DelAdmin.
    </p>
</div>

@@include('templates/analytics.html')
