<meta charset="UTF-8">
<meta name="author" content="Xebia IT Architects"/>
<meta name="reply-to" content="marketing@xebia.com"/>
<meta name="owner" content="Xebia IT Architects"/>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta name="content-language" content="fr"/>
<meta name="robots" content="follow,index,all"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<link rel="icon" href="favicon.ico"/>



<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>

<!-- build:css css/style.css -->
<link rel="stylesheet" href="stylesheets/reset.css"/>
<link rel="stylesheet" href="stylesheets/vars.less"/>
<link rel="stylesheet" href="stylesheets/main.less"/>
<link rel="stylesheet" href="stylesheets/mixin.less"/>
<link rel="stylesheet" href="stylesheets/fonts.less"/>

<link rel="stylesheet" href="stylesheets/header.less"/>
<link rel="stylesheet" href="stylesheets/footer.less"/>
<!-- endbuild -->

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- build:js js/main.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->