<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Xebia Studio - {{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap-1.3.0.min.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css"/>

    <script type="text/javascript" src="/javascripts/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/NannuFeed.js"></script>
    <script type="text/javascript">
        $('div.feeds').NannuFeed({
            'count':5,
            'errmsg':'Something Wrong', //Error Message
            'description':true, //if true descriptions are loaded
            'more':true, // More enables append link or image etc at bottom
            'innerHTML':true, //Loads feed directly
            'moretip':'Something'//Adds something at the bottom
        });
    </script>
</head>
<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a id="logo" class="brand" href="/index.html"></a>
            <ul class="nav">
                <li class="active"><a href="/studio.html">Xebia Studio</a></li>
                <li class=""><a href="/craftsmanship.html">Valeurs</a></li>
                <li class=""><a href="/team.html">L'équipe</a></li>
                <li class=""><a href="/technologies.html">Technologies</a></li>
                <li class=""><a href="/joinus.html">Nous rejoindre</a></li>
                <li class=""><a href="/about.html">À propos</a></li>
            </ul>
        </div>
    </div>
</div>

{{ content }}

<footer>
    <div class="container">
        <div class="row">
            <div class="span7 left">
                <p><b>Adresse : </b>Xebia,156 boulevard Haussmann,75008 PARIS <a href="http://g.co/maps/56s4x"><img
                        src="/images/marker.png" height="20px"
                        alt=""></a>
                </p>

                <p><b>Email :</b> studio@xebia.fr</p>

                <p><b>Téléphone :</b> +33 1 53 89 99 96</p>
            </div>
            <div class="span2">
                <img height="70px" src="/images/logoXebiaStudio.png">
            </div>
            <div class="span6 right">
                <p>&copy; Xebia Studio 2011</p>
            </div>
        </div>
    </div>

</footer>

</body>
</html>
