<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Xebia Studio - {{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/fonts.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/main.css"/>
    <link rel="shortcut icon" type="image/png" href="images/faviconXebia.png"/>

    <script src="javascripts/jquery-1.7.1.min.js"></script>

</head>
<body>
<div class="navbar navbar-static">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="row">
                        <div class="span2">
                            <a id="logo" class="brand" href="index.html"></a>
                        </div>
                        <div class="span10" id="navbar">
                            <ul class="nav">
                                <li class="{% if page.title contains 'Le Studio' %}active{% endif %}"><a href="studio.html">XEBIA STUDIO</a></li>
                                <li class="{% if page.title contains 'Valeurs' %}active{% endif %}"><a href="valeurs.html">VALEURS</a></li>
                                <li class="{% if page.title contains 'équipe' %}active{% endif %}"><a href="equipe.html">L'ÉQUIPE</a></li>
                                <li class="{% if page.title contains 'Technologies' %}active{% endif %}"><a href="technologies.html">TECHNOLOGIES</a></li>
                                <li class="{% if page.title contains 'rejoindre' %}active{% endif %}"><a href="rejoindre.html">NOUS REJOINDRE</a></li>
                                <li class="{% if page.title contains 'propos' %}active{% endif %}"><a href="apropos.html">À PROPOS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ content }}
<footer>
    <div class="footer-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <div class="column leftcolumn">
                        <h2>XEBIA IT ARCHITECTS</h2>
                        <p>
                            156 boulevard Haussmann<br/>
                            75008 PARIS &nbsp;
                            {% comment %}<a href="http://g.co/maps/56s4x"><img
                                src="images/marker.png" height="10px"
                                alt=""></a>}
                            {% endcomment %}
                            <br/> <br/>
                            +33 1 53 89 99 96<br/>
                            <a href="mailto:studio@xebia.fr">studio@xebia.fr</a></p>
                    </div>
                </div>
                <div class="span4">
                    <div class="column midcolumn">
                        <h2>L'UNIVERS XEBIA</h2>
                        <ul>
                            <li><a href="http://xebia.fr"><b>Xebia</b></a></li>
                            <li><a href="http://training.xebia.fr/">Xebia Training</a></li>
                            <li><a href="http://xebialabs.com/">Xebia Labs</a></li>
                            <li><a href="http://contrat-agile.org">Contrat agile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="span4">
                    <div class="column righcolumn">
                        <h2>SUIVEZ-NOUS !</h2>
                        <a href="http://blog.xebia.fr"><b>Retrouvez nous sur le blog de Xebia</b></a>
                        <a href="http://twitter.com/xebiafr"><img src="images/twitter.png" alt="twitter"></a>
                        <a href="http://vimeo.com/xebia"><img src="images/vimeo.png" alt="vimeo"> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
</body>
</html>
